# Static information about the filesystems.
# See fstab(5) for details.

# <file system>                               <dir>       <type>   <options>      <dump> <pass>
# /dev/sda8
UUID=bfe6b82b-50df-4d26-ad1a-fde289072a4e      /           ext4    rw,relatime    0      1

# /dev/sda5
UUID=cca3e2d9-56c1-4e4e-bb14-27c06546f891      none        swap    defaults       0      0



# /dev/sda7: LABEL="arch2" UUID="5277a717-4b39-d901-0056-a1174b39d901" BLOCK_SIZE="2048" TYPE="ext4" PARTUUID="0a0bf3d8-07"
UUID="5277a717-4b39-d901-0056-a1174b39d901"    /dat.mnt    ext4    rw             0      0

