[user]
	email = mort1skoda@gmail.com
	name = mort1skoda
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	main = main
	defaultBranch = main
